@charset "UTF-8";

/*
    verde: #49a09d
    lílas: #5f2c82
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #5f2c82;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    margin: auto;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#fundo > img {
    width: 250px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div#formulario > h1 {
    padding: 10px;
    text-align: center;
}

div#formulario > p {
    padding: 10px;
    font-size: 0.9em;
}

div > input {
    width: 240px;
    height: 30px;
    border-radius: 5px;
}

div.cadastro {
    background-color: #5f2c82;
    margin: 10px;
    height: 40px;
    border-radius: 5px;
}

div.cadastro > span {
    color: white;
}