@charset "UTF-8";

:root {
    --cor-principal: #010BF5;
    --cor-secundaria: #2227CA;
    --cor-terciaria: #3539A0;
    --cor-fundo: #D5ECF9;
}


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor-fundo);
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#fundo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-principal);
    height: 280px;
    border-radius: 0px 0px 30% 0px;
}

div#fundo h1, p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
}

div#fundo p {
    line-height: 1.3rem;
}


div#formulario {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

div.cadastro {
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--cor-principal);
    border-radius: 8px;
    border: 2px solid var(--cor-principal);
    margin: 5px 0px;
}

div.cadastro > label {
    display: none;
}

div.cadastro > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.cadastro > input {
    font-size: 1em;
    background-color: white;
    width: calc(100% - 45px);
    height: 100%; 
    border-radius: 5px;
    border: none;
    transform: translateY(-13px);
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1em;
    background-color: var(--cor-principal);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

form > a.botao {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    background-color: var(--cor-principal);
    color: white;
    border-radius: 8px;
}

form > a.botao:hover {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

form > a.botao > i {
    font-size: 0.8em;
}